# Ignorar la carpeta del dataset
dataset/

# Ignorar entornos virtuales de Python
venv/
env/
.env

# Ignorar archivos temporales de Jupyter
.ipynb_checkpoints/

# Ignorar logs de métricas de TensorBoard
logs/